<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

  <div class="grid-container-A">
    <div class="grid-container-A-1" style="grid-column: span 3;grid-row: span 9;">
      <div class="flexbox-container-today" style="grid-column: span 4;grid-row: span 4;">
        <img src = "images/icons/weather/animated/clear-day.svg" alt="Weather Icon"/>
      </div>
      <div class="grid-container-A-2" style="grid-column: span 2;grid-row: span 2;">
        <div style="grid-row: span 4;">
          <img src = "images/icons/weather/high-temperature.svg" alt="Weather Icon"/>
        </div>
        <div style="grid-column: span 2;"></div>
      </div>
      <div style="grid-column: span 2;grid-row: span 2;"></div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
      <div style="grid-column: span 3;"></div>
    </div>
    <div style="grid-column: span 4;"></div>
    <div class="grid-container-B" style="grid-column: span 4;grid-row: span 8;">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="flexbox-container" style="grid-column: span 7;grid-row: span 4;">
      <div>hey</div>
      <div>hey</div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- <video autoplay muted loop id="background-video">
    <source src="videos/winter-scenery.mp4" type="video/mp4">
  </video> -->
  
</body>

</html>