* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  --colourA: #61a5c2;
  --colourB: #a9d6e5;
  --fontColourA: #2a6f97;
  --fontColourB: #01497c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.grid-container-A {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(7, 1fr);
  height: 84vh;
  width: 84%;
  background-color: var(--colourA);
  opacity: 95%;
  border-radius: 20px;
  gap: 14px;
  padding: 20px;
  border: 4px solid white;
}

.grid-container-A-1 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
}

.grid-container-A-1 > div {
  background-color: var(--colourB);
  border-radius: 10px;
}

.grid-container-A-1 img {
  height: 86%;
  width: 86%;
}

.icon {
  white-space: nowrap;
  text-align: center;
}

.icon h1 {
  font-size: 1.4rem;
  margin-left: 55px;
}

.icon img {
  height: 40px;
  margin-left: -40px;
}

.grid-title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto repeat(11, 1fr);
  background-color: var(--colourB);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}

.search-container {
  margin-top: 10px;
}

.grid-title h1 {
  font-size: 2rem;
}

.grid-title h2 {
  font-size: 1.4rem;
  margin: 12px 0px 0px 20px;
  white-space: nowrap;
}

.grid-title h3 {
  white-space: nowrap;
  font-size: 1.1rem;
  margin-top: 14px;
}

form > button {
  padding: 0px 10px;
}

.grid-container-B {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.grid-container-B > div {
  background-color: var(--colourB);
  border-radius: 10px;
}

.grid-container-B img {
  height: 40%;
  width: 40%;
}

.flexbox-center {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid-container-A-2 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.grid-container-A-2 img {
  height: 70%;
}

.grid-container-A-2 h1 {
  font-size: 1.3rem;
}

.grid-container-A-2 p {
  font-size: 0.9rem;
}

.flexbox-container {
  display: flex;
  background-color: var(--colourB);
  border: 4px dotted white;
  border-radius: 10px;
}

.flexbox-container > div {
  width: 14%;
  padding: 10px;
}

.med-box {
  text-align: center;
}

.forecast-grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.forecast img {
  height: 70%;
  width: 70%;
  margin: 4px 10px 0px 0px;
}

.forecast-temp > img {
  height: 70%;
  width: 70%;
  margin: 0px 0px 5px -10px;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}